<?xml version="1.0" encoding="UTF-8" ?>
<!-- DTD约束 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llkj.mapper.OrderMapper">

    <resultMap id="orderMap" type="com.llkj.pojo.Order">
        <id column="order_id" property="orderId"></id>
        <result column="order_name" property="orderName"></result>
        <result column="customer_id" property="customerId"></result>
        <association property="customer" javaType="com.llkj.pojo.Customer">
            <id column="customer_id" property="customerId"></id>
            <result column="customer_name" property="customerName"></result>
        </association>
    </resultMap>
    <select id="queryOrderById" resultMap="orderMap">
        select *
        from t_customer tcs join t_order tor on tcs.customer_id=tor.customer_id
        where tor.order_id=#{id}
    </select>
</mapper>